# Docker Image Versions
MARIADB_VERSION=10
PHP_VERSION=8.2

# Database Configuration
MYSQL_DATABASE=wordpress_db
MYSQL_USER=wordpress_user
MYSQL_PASSWORD=change_me_db_user_password
MYSQL_ROOT_PASSWORD=change_me_db_root_password

# WordPress Configuration
WORDPRESS_TABLE_PREFIX=wp_
