MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=change_me_db_user_password
MYSQL_ROOT_PASSWORD=change_me_db_root_password
WORDPRESS_TABLE_PREFIX=wp_

# For local: localhost
# For production: your domain, e.g. example.com
SITE_ADDRESS=localhost

# Required for automatic HTTPS in production with Caddy
# Example: admin@example.com
CADDY_EMAIL=you@example.com
